<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>星标文件</title>
    <style>
        body{
            margin: 0;
        }
        .pg-header{
            height: 48px;
            background-color: #8b8785;
            color: #4c2eff;
        }
    </style>
    <style>
        body{
            margin: 0;
        }
         .pg-content{
            height: 48px;
            color: black;
        }
    </style>
</head>
<body>

<div class="pg-header">
    <div style="width: 150px;margin: auto">
    <h1>我的星标</h1>
    <hr>

    <a href="/save">返回到收藏夹</a>
    </div>
</div><br><br><br><br><br><br><br><br><br>
<div class="pg-content">
    <div style="width: 360px;margin:0 auto;">
<ul>
    {% for folder in folders %}
        <li>{{ folder.name }}</li>
        <ul>
            {% for website in folder.websites %}
                {% if website.star == 1 %}
                    <li>{{ website.name }}<a href="/undostar?wid={{ website.id  }}">取消星标</a></li>
                    &nbsp;&nbsp;<a href={{ website.address }}>{{ website.address }}</a>
                {% endif %}
            {% endfor %}
        </ul>
    {% endfor %}
</ul>
</div>
</div>

</body>
</html>