<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>收藏夹详情</title>
</head>
<body>
<h3><a href="/save">回到收藏列表</a></h3>
<h1>网址详情</h1>
<div>
    <h3>{{folder.name}}</h3>
    <p>{{folder.address}}</p>
     <a href="/update_folder?fid={{folder.id}}">重命名</a>
    <a href="/delete_folder?fid={{folder.id}}">回收</a>
    <hr>
<ul>
    {% for website in folder.websites %}
        <li>{{ website.name }}<!--<a href="/delete_website?wid={{ website.id }}">&nbsp;&nbsp;彻底删除</a>--><a href="/detail_website?wid={{ website.id  }}">&nbsp;&nbsp;详情</a></li>
        {% if website.star == 1 %}
            <!--<a href="/star?wid={{ website.id }}"><img src='https://raw.githubusercontent.com/ContraChen/picBed/master/img/202112281735013.png' width="24px" height="24px" border=0></a>-->
            <a href="/star?wid={{ website.id }}"><img src='http://img1.3png.com/418493cbb41f9ccf031bc9a81967f6878235.png' width="24px" height="24px" border=0></a>
        {% else %}
            <!--<a href="/star?wid={{ website.id }}"><img src='https://raw.githubusercontent.com/ContraChen/picBed/master/img/202112281731903.png' width="24px" height="24px" border=0></a>-->
            <a href="/star?wid={{ website.id }}"><img src='http://img1.3png.com/7234936b4f9d4fc4dfc8532675596ea953b7.png' width="24px" height="24px" border=0></a>
        {% endif %}
        &nbsp;&nbsp;<a href={{ website.address }}>{{ website.address }}</a>
    {% endfor %}
</ul>
</div>
</body>
</html>